__pycache__/

**/.terraform/*
*.tfstate
*.tfstate.*
builds
dependencies

*.tfvars
*.tfvars.json

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
